# sets the global environment to point to the Azul JDK

export JDK_HOME={{jdk_destination}}/{{jdk_azul_jdk_8_link_destination}}
export JAVA_HOME={{jdk_destination}}/{{jdk_azul_jdk_8_link_destination}}
export JAVA_CMD={{jdk_destination}}/{{jdk_azul_jdk_8_link_destination}}/bin/java
export JDK_8_HOME={{jdk_destination}}/{{jdk_azul_jdk_8_link_destination}}
export JDK_9_HOME={{jdk_destination}}/{{jdk_azul_jdk_9_link_destination}}
export JDK_10_HOME={{jdk_destination}}/{{jdk_azul_jdk_10_link_destination}}

PATH=$PATH:{{jdk_destination}}/{{jdk_azul_jdk_8_link_destination}}/bin
