# sets the global environment to point to the Oracle JDK

export JDK_HOME={{jdk_destination}}/{{jdk_neutral_jdk_link_destination}}
export JAVA_HOME={{jdk_destination}}/{{jdk_neutral_jdk_link_destination}}
export JAVA_CMD={{jdk_destination}}/{{jdk_neutral_jdk_link_destination}}/bin/java

PATH=$PATH:{{jdk_destination}}/{{jdk_neutral_jdk_link_destination}}/bin
