# sets the global environment to point to the Azul JDK

export JDK_HOME={{jdk_destination}}/{{jdk_azul_jdk_8_link_destination}}
export JAVA_HOME={{jdk_destination}}/{{jdk_azul_jdk_8_link_destination}}
export JAVA_CMD={{jdk_destination}}/{{jdk_azul_jdk_8_link_destination}}/bin/java
export JDK_8_HOME={{jdk_destination}}/{{jdk_azul_jdk_8_link_destination}}
export JDK_11_HOME={{jdk_destination}}/{{jdk_azul_jdk_11_link_destination}}

PATH=$PATH:{{jdk_destination}}/{{jdk_azul_jdk_8_link_destination}}/bin
